<div class="programs-container">
  <div class="header">
    <h1>Programs Management</h1>
    <button mat-flat-button color="primary" (click)="openAddForm()">
      <mat-icon>add</mat-icon>
      Add New Program
    </button>
  </div>
  <div class="cards-row">
    <mat-card>
      <mat-card-content>
        <div>
          <h3>Total Programs</h3>
          <p>{{ programs.length || 0 }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div>
          <h3>Total Courses</h3>
          <p>{{ getTotalICourses() || 0 }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card>
    <mat-card-content>
      <table mat-table [dataSource]="programs">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let program">
            {{ program.title | titlecase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef>Level</th>
          <td mat-cell *matCellDef="let program">
            {{ program.level | titlecase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef>Language</th>
          <td mat-cell *matCellDef="let program">
            {{ program.language | titlecase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let program">
            {{ program.category | titlecase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalDuration">
          <th mat-header-cell *matHeaderCellDef>Total Duration</th>
          <td mat-cell *matCellDef="let program">
            {{ program.totalDuration }} <small>Hours</small>
          </td>
        </ng-container>
        <ng-container matColumnDef="Instructors">
          <th mat-header-cell *matHeaderCellDef>Instructors</th>
          <td mat-cell *matCellDef="let program">
            @for (detail of program.instructorDetails; track detail) {
            <div>
              {{ detail?.user?.firstName || "N/A" }}
              {{ detail?.user?.lastName || "N/A" }}
            </div>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let program">
            <button
              mat-icon-button
              color="primary"
              (click)="openUpdateForm(program)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteProgram(program.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<!-- Add Program Form -->
<ng-template #addDialog>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add New Program</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="addForm"
        (ngSubmit)="addProgram()"
        class="program-form-grid"
      >
        <div class="grid-container">
          <div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Slug</mat-label>
              <input matInput formControlName="slug" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Thumbnail URL</mat-label>
              <input matInput formControlName="thumbnail" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Level</mat-label>
              <mat-select formControlName="level">
                <mat-option value="beginner">Beginner</mat-option>
                <mat-option value="intermediate">Intermediate</mat-option>
                <mat-option value="advanced">Advanced</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Language</mat-label>
              <input matInput formControlName="language" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Category</mat-label>
              <mat-select formControlName="category">
                <mat-option value="language">Language</mat-option>
                <mat-option value="business">Business</mat-option>
                <mat-option value="development">Development</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Total Duration</mat-label>
              <input matInput type="number" formControlName="totalDuration" />
            </mat-form-field>
          </div>
        </div>
        <div class="form-actions">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="addForm.invalid"
          >
            Add
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>

<!-- Update Program Form -->

<!-- Update Program Form -->
<ng-template #updateDialog>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Update Program</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="updateForm"
        (ngSubmit)="updateProgram()"
        class="program-form-grid"
      >
        <div class="grid-container">
          <div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Slug</mat-label>
              <input matInput formControlName="slug" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Thumbnail URL</mat-label>
              <input matInput formControlName="thumbnail" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Level</mat-label>
              <mat-select formControlName="level">
                <mat-option value="beginner">Beginner</mat-option>
                <mat-option value="intermediate">Intermediate</mat-option>
                <mat-option value="advanced">Advanced</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Language</mat-label>
              <input matInput formControlName="language" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Category</mat-label>
              <mat-select formControlName="category">
                <mat-option value="language">Language</mat-option>
                <mat-option value="business">Business</mat-option>
                <mat-option value="development">Development</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Total Courses</mat-label>
              <input matInput type="number" formControlName="totalDuration" />
            </mat-form-field>
          </div>
        </div>
        <div class="form-actions">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="updateForm.invalid"
          >
            Update
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>
